<div class="card-info">
        <div class="card-title"> 
            <img src=" {{flags.svg}} " alt=" " width=50 height=30/>
            <p class="country-name">Name: <b><i>{{name.common}}</i></b> </p>
        </div>
        <p class="country-info">Official name: <b> {{name.official}} </b>  </p>
        <p class="country-info">Capital: <b> {{capital}} </b> </p>
        <p class="country-info">Population: <b> {{population}} </b> </p>
        <p class="country-info"> Languages: <b> {{lang}} </b> </p>
</div>